<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>
    
    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
  </head>
  
  <body class="<%= page_classes %>">
    <a href="https://github.com/bitrise-io/devcenter"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
    <div class="navigation">
      <div class="wrapper">
        <h1><a href="/" class="white">Bitrise</a></h1>
        <div class="right">
          <div class="btn"><a href="http://bitrise.io/" class="white">Register for free</a></div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="sidebar">
        <h3>introduction</h3>
        <ul>
          <li>Getting started</li>
        </ul>
        <h3>introduction</h3>
        <ul>
          <li>Getting started</li>
        </ul>
      </div>
      <div class="content">
        <%= yield %>
        <%= disqus %>
      </div>
      <div class="clear"></div>
      <div class="footer">
        <div class="footer-col">
          <div class="title">Register an account</div>
          <div class="separator"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed posuere eros. Donec auctor aliquet varius. In lacinia,u</p>
        </div>
        <div class="footer-col">
          <div class="title">Join the community</div>
          <div class="separator"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed posuere eros. Donec auctor aliquet varius. In lacinia, justo eu viverra luctus, orci libero ornare justo, sit amet condimentum metus libero vel justo. Morbi convallis blandit purus,</p>
        </div>
        <div class="clear"></div>
        <div class="copyright">Copyright ©<%= Time.now.year %> Bitrise
          <span class="footer-nav"><a href="http://bitrise.io">HOME</a></span>
          <span class="footer-nav"><a href="http://blog.bitrise.io">BLOG</a></span>
        </div>
      </div>
    </div>
  </body>
</html>